.container {
	border-radius: 15px;
	box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75),
		-10px 0 20px -5px rgba(115, 115, 115, 0.75);
	padding: 1rem;
	margin: 1rem;
	width: 15rem;
	cursor: pointer;
}

.btn {
	background: transparent;
	padding: 0.5rem;
	border-radius: 15px;
	border: 3.5px solid #0049b0;
	font-size: 0.75rem;
	cursor: pointer;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
